/* Overlay do modal */
.edit-launch-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    z-index: 9999;
}

/* Container do modal */
.edit-launch-modal-container {
    background: #fff;
    padding: 15px;
    border-radius: 6px;
    width: 90%;
    max-width: 500px;
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    z-index: 10000;
}

/* Título do modal */
.modal-title {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #333;
}

/* Wrapper do formulário do modal */
.modal-form-wrapper {
    margin-top: 10px;
}

/* Formulário do modal */
.modal-form {
    display: flex;
    flex-direction: column;
}

/* Linhas do formulário */
.form-row {
    display: flex;
    gap: 15px;
}

/* Grupos de formulário */
.form-group {
    margin-bottom: 10px; 
}

/* Estilo dos campos de input, textarea e select */
.modal-form input,
.modal-form textarea,
.modal-form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
}

/* Estilo para textarea */
.modal-form textarea {
    height: 80px;
    resize: none;
}

/* Estilo para os labels */
.modal-form label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
    color: #555;
}

/* Estilo específico para o grupo de observação e tag */
.form-group-observation-tag {
    display: flex;
    flex-direction: column; 
    gap: 10px;
}

/* Botões do modal */
.modal-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 15px;
}

/* Botões de salvar e cancelar */
.modal-save-button,
.modal-cancel-button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

#modal-save-button, #modal-cancel-button {
    border-radius: 5px;
    cursor: pointer;
    transition: ease 0.3s;
    border: none;
    padding: 9px;
}

#modal-save-button {
    color: #fff;
    background-color: var(--light-button);
}

#modal-save-button:hover {
    background: var(--dark-button);
}

#modal-cancel-button {
    background: transparent;
    color: #a5a5a5;
}

#modal-cancel-button:hover {
    color: #8a8a8a
}