/* Overlay do modal */
.edit-launch-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

/* Container do modal */
.edit-launch-modal-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Título do modal */
.modal-title {
    margin-top: 0;
    font-size: 20px;
    color: #333;
}

/* Wrapper do formulário do modal */
.modal-form-wrapper {
    margin-top: 15px;
}

/* Formulário do modal */
.modal-form {
    display: flex;
    flex-direction: column;
}

/* Linhas do formulário */
.form-row {
    display: flex;
    gap: 20px; /* Espaçamento entre os campos Valor e Data */
}

/* Grupos de formulário */
.form-group {
    margin-bottom: 15px;
}

/* Estilo dos campos de input, textarea e select */
.modal-form input,
.modal-form textarea,
.modal-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
}

/* Estilo para textarea */
.modal-form textarea {
    height: 120px;
    resize: none;
}

/* Estilo para os labels */
.modal-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

/* Estilo específico para o grupo de observação e tag */
.form-group-observation-tag {
    display: flex;
    gap: 20px; /* Espaçamento entre os campos de observação e tag */
}

/* Botões do modal */
.modal-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

/* Botões de salvar e cancelar */
.modal-save-button,
.modal-cancel-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.modal-save-button {
    background-color: #4CAF50;
    color: white;
}

.modal-save-button:hover {
    background-color: #45a049;
}

.modal-cancel-button {
    background-color: transparent;
    color: #888;
}

.modal-cancel-button:hover {
    color: #555;
}

/* Estilo para o checkbox */
.modal-form input[type="checkbox"] {
    margin-right: 10px;
}