/* Overlay do modal */
.edit-launch-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    z-index: 9999;
}

/* Container do modal */
.edit-launch-modal-container {
    background: #fff;
    padding: 15px; /* Reduzido o padding */
    border-radius: 6px; /* Ajustado o border-radius */
    width: 80%; /* Reduzido a largura */
    max-width: 400px; /* Ajustado o max-width */
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Ajustado o box-shadow */
    z-index: 10000;
}

/* Título do modal */
.modal-title {
    margin: 0 0 10px 0; /* Ajustado a margem */
    font-size: 18px; /* Reduzido o font-size */
    color: #333;
}

/* Wrapper do formulário do modal */
.modal-form-wrapper {
    margin-top: 10px; /* Reduzido a margem */
}

/* Formulário do modal */
.modal-form {
    display: flex;
    flex-direction: column;
}

/* Linhas do formulário */
.form-row {
    display: flex;
    gap: 15px; /* Reduzido o gap */
}

/* Grupos de formulário */
.form-group {
    margin-bottom: 10px; /* Reduzido a margem */
}

/* Estilo dos campos de input, textarea e select */
.modal-form input,
.modal-form textarea,
.modal-form select {
    width: 100%;
    padding: 8px; /* Reduzido o padding */
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px; /* Reduzido o font-size */
    color: #333;
}

/* Estilo para textarea */
.modal-form textarea {
    height: 80px; /* Reduzido a altura */
    resize: none;
}

/* Estilo para os labels */
.modal-form label {
    display: block;
    margin-bottom: 4px; /* Reduzido a margem */
    font-weight: bold;
    color: #555;
}

/* Estilo específico para o grupo de observação e tag */
.form-group-observation-tag {
    display: flex;
    flex-direction: column; /* Alterado para coluna */
    gap: 10px; /* Reduzido o gap */
}

/* Botões do modal */
.modal-buttons {
    display: flex;
    gap: 8px; /* Reduzido o gap */
    margin-top: 15px; /* Reduzido a margem */
}

/* Botões de salvar e cancelar */
.modal-save-button,
.modal-cancel-button {
    padding: 8px 16px; /* Reduzido o padding */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px; /* Reduzido o font-size */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.modal-save-button {
    background-color: #4CAF50;
    color: white;
}

.modal-save-button:hover {
    background-color: #45a049;
}

.modal-cancel-button {
    background-color: transparent;
    color: #888;
}

.modal-cancel-button:hover {
    color: #555;
}

/* Alinha o status ao lado do tipo */
.form-row .form-group.status {
    display: flex;
    align-items: center;
    margin-left: 10px; /* Espaçamento entre o tipo e o status */
}