.expense-info-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    font-family: 'Poppins', sans-serif;
}

.expense-info-modal-content {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    width: 90%;
    max-width: 600px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 1;
    transform: scale(1);
}

/* Botão de fechamento do modal*/
.expense-info-close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 24px;
    color: #888;
    cursor: pointer;
    transition: color 0.3s ease;
}

.expense-info-close-button:hover {
    color: #555;
}

/* Estilo para os detalhes do modal */
.modal-details {
    margin-top: 20px;
}

.detail-item {
    margin-bottom: 15px;
    font-size: 16px;
    color: #555;
}

.detail-item-left {
    margin-bottom: 15px;
    word-break: break-word;
}

.detail-item-row {
    display: flex;
    gap: 20px;
    align-items: center;
}

.detail-item-value, .detail-item-date {
    flex: 1;
}

.detail-item-observation, .detail-item-tags {
    flex: 1;
    word-break: break-word;
}

/* Estilo para os títulos e descrições */
.detail-item strong {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
}

/* Container para as tags */
.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
}

/* Estilo para cada tag */
.tag-item {
    background: #d5d5d5;
    color: rgb(33, 33, 33);
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 14px;
    display: inline-block;
    transition: background 0.3s ease;
}

.tag-item:hover {
    background: #dedede;
}

/* Linha divisória entre o conteúdo e os botões */
.divider-line {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 20px 0;
}

/* Botões para editar e excluir */
.expense-info-buttons {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 20px;
}

.expense-info-edit-button {
    background: transparent;
    color: #888;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.expense-info-delete-button {
    background: transparent;
    color: #888;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.expense-info-edit-button:hover, .expense-info-delete-button:hover {
    color: #555;
}