/* Estilo para remover as setas dos inputs de tipo number e desabilitar a rolagem */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

input[type=number] {
    appearance: textfield; /* Remove setas no Edge, Chrome, Safari */
}

input[type=number] {
    -moz-appearance: textfield; /* Remove setas no Firefox */
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

/* Desabilitar a rolagem do mouse para alterar o valor do input de número */
input[type=number]:hover,
input[type=number]:focus {
    outline: none; /* Remove o outline para foco */
}