/* Estilo para a sobreposição do modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Conteúdo do Modal */
.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    position: relative;
}

/* Título do Modal */
h2 {
    margin-top: 0;
    font-size: 19px;
    font-weight: 600;
}

/* Formulário dentro do Modal */
.modal-form {
    margin-top: 15px;
}

/* Estilo para a seleção de tipo de lançamento (Receita ou Despesa) */
.type-selection {
    display: flex;
    justify-content: space-around;
    margin-bottom: 8px;
}

.type-selection button {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    border: solid 1px var(--dark-button);
    background-color: var(--light-button);
    transition: background-color 0.3s, color 0.3s;
    margin: 0 5px;
}

.type-selection button:hover{
    background-color: var(--dark-button);
}

/* Rótulo dos campos */
.form-group label {
    display: block;
    font-weight: bold;
}

/* Campo de entrada */
.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-row-wrapper {
    margin-top: 3px;
}

/* Estilo para os campos de entrada em linha - Valor & Data */
.input-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 15px;
}

.input-row .form-group {
    flex: 1;
    margin-bottom: 0;
}

.input-row .form-group:first-child {
    margin-right: 10px;
}

/* Campo de entrada para observação*/
.observation-input {
    width: 100%;
    height: 80px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    white-space: pre-wrap;
    overflow: auto;
    display: block;
}

/* Inicialmente oculta o campo de entrada para observação */
.form-group.observation-group {
    display: none;
}

/* Exibe o campo de entrada para observação quando showObservationInput é verdadeiro */
.form-group.observation-group.show-observation {
    display: block;
}

/* Botão para mostrar o campo de entrada para observação */
.form-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.observation-button {
    margin-top: 17px;
    background: transparent;
    border: none;
    color: #525252;
    cursor: pointer;
}

/* Botões de salvar e cancelar */
.form-group-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#save-button, #close-button {
    border: none;
    padding: 9px;
    border-radius: 5px;
    cursor: pointer;
    transition: ease 0.3s;
}

#save-button {
    background: var(--light-button);
    color: #fff;
}

#save-button:hover {
    background: var(--dark-button);
}

#close-button {
    background: transparent;
    color: #a5a5a5;
}

#close-button:hover {
    color: #8a8a8a
}