/* Estilo para a sobreposição do modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Conteúdo do Modal */
.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    position: relative;
}

/* Título do Modal */
h2 {
    margin-top: 0;
    font-size: 19px;
    font-weight: 600;
}

/* Formulário dentro do Modal */
.modal-form {
    margin-top: 19px;
}

/* Grupo de campos no formulário */
.form-group {
    margin-bottom: 15px;
    font-size: 14px;
}

/* Rótulo dos campos */
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Campo de entrada */
.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Wrapper para campos de entrada */
.input-row-wrapper {
    margin-top: 15px;
}

/* Estilo para os campos de entrada em linha */
.input-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* Grupo de campos em linha */
.input-row .form-group {
    flex: 1;
    margin-bottom: 0;
}

/* Margem entre grupos de campos em linha */
.input-row .form-group:first-child {
    margin-right: 10px;
}

/* Estilo para botões dentro do formulário */
.form-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

/* Estilo geral dos botões 
button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}*/

/* Botão de salvar */
.save-button {
    background: #4caf50;
    color: #fff;
}

/* Botão de fechar */
.close-button {
    background: transparent;
    color: #a5a5a5;
}

/* Botões de ação para observação e tags */
.tags-button, .observation-button {
    margin-top: 17px;
    background: transparent;
    border: none;
    color: #525252;
    cursor: pointer;
}

/* Estilo para a seleção de tags */
.tags-input {
    margin-top: 10px;
}

/* Estilo para o seletor de tags */
.tags-input select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Estilo para a exibição das tags */
.tag-input-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}

/* Estilo individual das tags */
.tag {
    background: #f0f0f0;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Botão para remover tags */
.remove-tag-button {
    background: transparent;
    border: none;
    color: #353535;
    font-size: 12px;
    cursor: pointer;
    padding: 0;
    margin: 0;
}