.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #130d2e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 700px;
    margin: 20px auto;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.title {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 21px;
    font-weight: 600;
    margin: 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 19px;
}

.add-button {
    display: flex;
    align-items: center;
    padding: 7px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    color: #000;
    background: #E9E9E9;
    transition: ease 0.4s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-button:hover {
    background: #d1d1d1;
}

.month-select {
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s ease;
}

.launches-table {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    border-collapse: collapse;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    font-weight: 600;
    padding: 10px;
    color: #fff;
    background-color: #410E6E;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    white-space: nowrap;
}

td:not(:last-child) {
    border-right: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 10px;
}

th.info-icon, td.info-icon {
    width: 50px;
    text-align: center;
    cursor: pointer;
}

th.description, td.description {
    width: 200px;
    word-break: break-word;
}

th.date, td.date {
    width: 120px;
}

th.amount, td.amount {
    width: 120px;
}

th.paid, td.paid {
    width: 50px;
}

tbody tr {
    background-color: #f0ecf2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.balance {
    font-weight: bold;
    text-align: right;
}

.balance-positive {
    color: green;
}

.balance-negative {
    color: red;
}

input[type="checkbox"] {
    cursor: pointer;
}