/* Container Principal */
.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    background-color: #38115d;
}

/* Container do Formulário */
.login-form-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    width: 450px;
    max-width: 500px;
}

/* Título Principal */
.login-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: #7127a0;
    text-align: center;
    margin-bottom: 20px;
}

/* Formulário */
.login-form-content {
    display: flex;
    flex-direction: column;
}

/* Labels e Inputs */
.login-form-group {
    margin-bottom: 15px;
}

.login-form-group label {
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: 5px;
    display: block;
}

.login-form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd; 
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.login-form-group input:focus {
    border-color: #7e1cbc; 
    outline: none; 
}

/* Rodapé do formulário */
.login-form-footer {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: 20px;
}

/* Botão de login */
.login-form-button {
    width: auto; 
    padding: 10px 20px; 
    font-size: 16px; 
    border: none;
    border-radius: 5px;
    color: #fff; 
    background-color: #7127a0; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form-button:hover {
    background-color: #40167a; 
}

/* Link para Cadastro */
.login-register-button {
    font-size: 14px;
    color: #40167a; 
    text-decoration: none;
    margin-left: 10px;
}

.login-register-button span {
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;
}

.login-register-button span::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 100%;
    height: 1px;
    background-color: #7127a0; 
    transform: scaleX(0); 
    transform-origin: bottom right; 
    transition: transform 0.3s ease; 
}

.login-register-button span:hover {
    color: #7127a0;
}

.login-register-button span:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Responsividade */
@media (max-width: 768px) {
    .login-form-container {
        padding: 15px;
    }

    .login-title {
        font-size: 24px;
    }

    .login-form-group input {
        font-size: 14px;
    }

    .login-form-button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .login-form-container {
        padding: 10px;
    }

    .login-title {
        font-size: 20px;
    }

    .login-form-group input {
        font-size: 12px;
    }

    .login-form-button {
        font-size: 12px;
        padding: 6px 12px;
    }
}