/* Estilo base */
.navbar {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px 30px;
    margin-bottom: 100px;
    background-color: #150E33;
    color: #fff;
    width: 100%;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
}

.site-name {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

/* Botão de Toggle */
.menu-toggle {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    margin-left: 10px;
    position: relative;
}

/* Menu  */
.menu {
    display: none;
    flex-direction: column;
    position: absolute;
    text-align: center;
    top: 60px;
    right: 0;
    background-color: #150E33;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 170px;
    z-index: 1000;
}

.menu.open {
    display: flex;
}

/* Itens do Menu */
.user-info {
    margin: 10px 0;
}

.menu-item, .logout-user {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
    transition: ease 0.5s;
}

.menu-item:hover, .logout-user:hover {
    background-color: #6530a7;
}
