.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    background-color: #150E33;
    color: #fff;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.navbar-left, .navbar-links, .navbar-right {
    display: flex;
    align-items: center;
}

.site-name {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

/* Botão de Toggle */
.menu-toggle {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    margin-left: 10px;
    position: relative;
}

/* Menu  */
.menu {
    display: none;
    flex-direction: column;
    position: absolute;
    text-align: center;
    top: 60px;
    right: 0;
    background-color: #150E33;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 170px;
    z-index: 1000;
}

.menu.open {
    display: flex;
}

/* Itens do Menu */
.menu-item, .logout-user {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    position: relative;
}

.menu-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.4s ease;
}

.menu-item:hover {
    color: #b40ee6;
}

.menu-item:hover::after {
    width: 100%;
    background-color: #b40ee6
}

/* Estilo do botão de logout */
.logout-user {
    border: none;
    background: none;
    cursor: pointer;
    margin-top: 4px;
    transition: ease 0.5s;
}

.logout-user:hover {
    background-color: #6530a7;
}