/* Container principal */
.register {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    background-color: #38115d;
}

/* Container do formulário */
.register-form-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 450px;
    max-width: 500px;
}

/* Título principal */
.register-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: #7127a0;
    text-align: center;
    margin-bottom: 20px;
}

/* Formulário */
.register-form-content {
    display: flex;
    flex-direction: column;
}

/* Labels e Inputs */
.register-form-group {
    margin-bottom: 15px;
}

.register-form-group input::placeholder {
    color: #bababa;
    font-style: italic;
}

.register-form-group label {
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: 5px;
    display: block;
}

.register-form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.register-form-group input:focus {
    border-color: #7e1cbc;
    outline: none;
}

.password-container {
    position: relative;
}

.password-container input {
    width: 100%;
    padding-right: 30px;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

/* Estilos do PasswordRequirements */
.password-requirements {
    margin-top: 8px;
    font-size: 14px;
    color: #7a7a7a;
}

.password-requirements li {
    margin-bottom: 2px;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.password-requirements li::before {
    color: #aaaaaa;
    transition: color 0.3s ease;
}

.requirement-valid::before {
    color: #28a745;
}

.requirement-invalid {
    color: #aaaaaa;
}

.requirement-valid {
    color: #28a745; /* Texto verde quando válido */
}

/* Rodapé do formulário */
.register-form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

/* Botão de cadastro */
.register-form-button {
    width: auto;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #7127a0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-form-button:hover {
    background-color: #40167a;
}

/* Link para Login */
.register-login-button {
    font-size: 14px;
    color: #40167a;
    text-decoration: none;
}

.register-login-button span {
    font-weight: bold;
    text-decoration: underline;
}

.register-login-button:hover {
    text-decoration: underline;
}