/* Container principal */
.register {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    background-color: #38115d;
}

.register-form-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 450px;
    max-width: 500px;
}

/* Título principal */
.register-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: #7127a0;
    text-align: center;
    margin-bottom: 20px;
}

/* Formulário */
.register-form-content {
    display: flex;
    flex-direction: column;
}

/* Labels e Inputs */
.register-form-group {
    margin-bottom: 15px;
}

.register-form-group input::placeholder {
    color: #bababa;
    font-style: italic;
}

.register-form-group label {
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: 5px;
    display: block;
}

.register-form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.register-form-group input:focus {
    border-color: #7e1cbc;
    outline: none;
}

.password-container {
    position: relative;
}

.password-container input {
    width: 100%;
    padding-right: 30px;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

/* Estilos do PasswordRequirements */
.password-requirements {
    margin-top: 8px;
    font-size: 14px;
    color: #7a7a7a;
}

.password-requirements li {
    margin-bottom: 2px;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.password-requirements li::before {
    color: #aaaaaa;
    transition: color 0.3s ease;
}

.requirement-valid::before {
    color: #28a745;
}

.requirement-invalid {
    color: #aaaaaa;
}

.requirement-valid {
    color: #28a745;
}

/* Rodapé do formulário */
.register-form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

/* Botão de cadastro */
.register-form-button {
    width: auto;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #7127a0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-form-button:hover {
    background-color: #40167a;
}

/* Link para Cadastro */
.register-login-button {
    font-size: 14px;
    color: #40167a; 
    text-decoration: none;
    margin-left: 10px;
}

.register-login-button span {
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;
}

.register-login-button span::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 100%;
    height: 1px;
    background-color: #7127a0; 
    transform: scaleX(0); 
    transform-origin: bottom right; 
    transition: transform 0.3s ease; 
}

.register-login-button span:hover {
    color: #7127a0;
}

.register-login-button span:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Para telas maiores */
@media (min-width: 1024px) {
    .register-form-container {
        width: 500px;
    }

    
    .register-form-footer {
        display: flex;
        flex-direction: column;
    }
    
    .register-form-button {
        font-size: 14px;
        padding: 10px 20px;
        width: 100%;
        margin: 5px;
    }
}

/* Responsividade para tablets */
@media (max-width: 1023px) and (min-width: 768px) {
    .register-form-container {
        width: 100%;
        max-width: 600px;
    }

    .register-form-footer {
        display: flex;
        flex-direction: column;
    }

    .register-form-button {
        font-size: 14px;
        padding: 10px 20px;
        width: 100%;
        margin: 5px;
    }
}

/* Responsividade para smartphones (paisagem) */
@media (max-width: 767px) and (min-width: 480px) {
    .register-form-container {
        width: 100%;
        max-width: 450px;
    }

    .register-form-footer {
        display: flex;
        flex-direction: column;
    }

    .register-form-button {
        font-size: 14px;
        padding: 10px 20px;
        width: 100%;
        margin: 5px;
    }
}

/* Responsividade para smartphones (retrato) */
@media (max-width: 479px) {
    .register {
        padding: 10px;
    }

    .register-form-container {
        width: 100%;
        max-width: 400px;
        padding: 15px;
    }

    .register-form-footer {
        display: flex;
        flex-direction: column;
    }

    .register-form-button {
        font-size: 14px;
        padding: 10px 20px;
        width: 100%;
        margin: 5px;
    }

    .password-toggle {
        font-size: 16px;
    }
}

/* Ajustes adicionais para tamanhos muito pequenos */
@media (max-width: 320px) {
    .register-form-container {
        padding: 10px;
    }

    .register-form-button {
        font-size: 12px;
        padding: 8px 16px;
    }
}