/* Container Principal */
.reset-password {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    background-color: #38115d;
}

/* Container do Formulário */
.reset-password-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    width: 450px;
    max-width: 500px;
}

/* Título Principal */
.reset-password-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: #7127a0;
    text-align: center;
    margin-bottom: 20px;
}

/* Formulário */
.reset-password-content {
    display: flex;
    flex-direction: column;
}

/* Labels e Inputs */
.reset-password-group {
    margin-bottom: 15px;
}

/* Container do campo de senha e ícone */
.password-group {
    position: relative;
}

/* Container que envolve o campo de senha e o ícone */
.password-container {
    display: flex;
    align-items: center;
}

/* Campo de senha */
.password-container input {
    flex: 1;
    padding-right: 40px;
}

/* Ícone de mostrar/ocultar senha */
.password-toggle {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #7a7a7a;
    font-size: 18px;
}

/* Labels e Inputs */
.reset-password-group input::placeholder {
    color: #bababa;
    font-style: italic;
}

.reset-password-group label {
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: 5px;
    display: block;
}

.reset-password-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd; 
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.reset-password-group input:focus {
    border-color: #7e1cbc; 
    outline: none; 
}

/* Botão de redefinição de senha */
.reset-password-button {
    width: auto; 
    padding: 10px 20px; 
    font-size: 16px; 
    border: none;
    border-radius: 5px;
    color: #fff; 
    background-color: #7127a0; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reset-password-button:hover {
    background-color: #40167a; 
}

.back-button {
    margin-top: 4px;
    padding: 4px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: var(--light-button);
}

/* Para telas maiores */
@media (min-width: 1024px) {
    .reset-password-container {
        max-width: 500px;
        padding: 15px;
    }

    .reset-password-group input {
        font-size: 18px;
    }

    .reset-password-button {
        width: 100%;
        font-size: 14px;
        padding: 8px;
        margin: 5px;
    }
}

/* Responsividade para tablets */
@media (max-width: 1023px) and (min-width: 768px) {
    .reset-password-container {
        max-width: 100%;
        padding: 15px;
    }

    .reset-password-group input {
        font-size: 16px;
    }

    .reset-password-button {
        width: 100%;
        font-size: 14px;
        padding: 8px;
        margin: 5px;
    }
}

/* Responsividade para smartphones (paisagem) */
@media (max-width: 767px) and (min-width: 480px) {
    .reset-password-container {
        max-width: 350px;
        padding: 15px;
    }

    .reset-password-group input {
        font-size: 15px;
    }

    .reset-password-button {
        width: 100%;
        font-size: 14px;
        padding: 8px;
        margin: 5px;
    }
}

/* Responsividade para smartphones (retrato) */
@media (max-width: 479px) {
    .reset-password-container {
        width: 100%;
        max-width: 400px;
        padding: 15px;
    }

    .reset-password-group input {
        font-size: 14px;
    }

    .reset-password-button {
        width: 100%;
        font-size: 14px;
        padding: 8px;
        margin: 5px;
    }
}

/* Ajustes adicionais para tamanhos muito pequenos */
@media (max-width: 320px) {
    .reset-password-container {
        max-width: 280px;
        padding: 15px;
    }

    .reset-password-group input {
        font-size: 12px;
    }

    .reset-password-button {
        width: 100%;
        font-size: 14px;
        padding: 8px;
        margin: 5px;
    }
}